<h1><%= @post.title %></h1>
<p><%= image_tag(@post.pic_url) if @post.pic? %></p>
<p><%= @post.price %></p>
<p><%= @post.city.name %></p>
<p><%= @post.description %></p>
<p><%= @post.email %></p>


<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>  
<br><br>
<%= button_to 'Delete', @post, method: :delete,
    data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<br>
<%= button_to "New Post", new_post_path(@post), class: "btn btn-primary btn-lg" %> 
<br>
<%= button_to "All Cities", root_url(subdomain: false), method: :get, class:  "btn btn-default" %> 


