<h1><%= @city.name %></h1>

<div id="posts">
<% @city.posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <%= simple_format(post.title) %>
<% end %>
</div>


<%= link_to "All Posts", posts_path %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= button_to 'Delete', @post, method: :delete,
    data: { confirm: "Are you sure?" } %>

