<h1><%= @city.name %></h1>
<h2>Subdomain</h2>
<h3><%= @city.subdomain %></h3>

<div id="posts">
<% @city.posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>

<% end %>
</div>
<br>
<br>
<%= link_to "New Post", new_post_path(@post) %>|
<%= link_to "Edit Post" , edit_post_path(@post) %> |
<%= button_to 'Delete Post', @post, method: :delete,
    data: { confirm: "Are you sure?" } %>
<%= link_to "All Cities", cities_path %> |